body{
	margin: 0;

}
*{
	box-sizing: border-box;
}
.m_width{
max-width: 570px;
}
.first{
	padding: 0 75px;
	background: #eff0f2;
	padding-bottom: 98px;
}

.burger{
	width: 15px;
	background: gray;
	height: 2px;
	vertical-align: middle;
	margin-left: calc(100% - 15px - 65px)
	

	
}
.header{
font-size: 0;


}
.title{
	font-family: Montserrat, Arial; 
	text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
	color: #505050;
	font-size: 28px;
	font-weight: 700;
	line-height: 32px;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	margin-top: 45px;
	letter-spacing: 0,5px;
	padding-bottom: 75px;
	
}
.backgr{
	background: #b0eeea

}
.button1{
	opacity: 0.75;
	color: #000000;
	font-family: Montserrat;
	font-size: 9px;
	font-weight: 400;
	text-transform: uppercase;
	border: 1px solid;
	vertical-align: middle;
	border-color: #000000;
	padding: 7px 24px;
	display: inline-block;
	letter-spacing: 0,5px;
	margin-left: calc(100%/2 - 58px);
	-webkit-transition: all 0.5s ease-out;

}
.button1:hover{
	background-color: grey; 
	-webkit-transform: scale(1.1);

}
.logo{
	height: 134px;
	width: 167px;
	display: inline-block;
	margin-left: -56px;
	margin-top: -22px;

}
.glass{
	position: absolute;
	right: calc(100%/3 - 30px)
}

.second{
	padding: 0 75px;
	background: #f8fafa;
	padding-bottom: 56px;

}
.title2{
	font-family: Montserrat, Arial;
	margin: 0;
	opacity: 0.9;
	color: #000000;
	font-size: 24px;
	font-weight: 750;
	text-transform: uppercase;
	letter-spacing: 1.10px;
	text-align: center;
	padding-top: 63px;

}
.text{
	font-family: Raleway;
}
.under_title .title3{
	font-family: Merriweather;
}
.under_title{
	opacity: 0.62;
	color: #000000;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	text-align: center;
	margin-bottom: 76px;
}
.title3{
	opacity: 0.75;
	color: #000000;
	font-family: Merriweather;
	font-size: 10px;
	font-weight: 750;
	text-transform: uppercase;
	letter-spacing: 0.6px;
}
.title4{
	opacity: 0.75;
	color: #000000;
	font-family: Merriweather;
	font-size: 8px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.02px;
}

.info{
	display: inline-block;
	max-width: 285px;
	margin-left: 60px;
	vertical-align: top;

	
}
.text{
	opacity: 0.74;
	color: #000000;
	font-family: Raleway;
	font-size: 8px;
	font-weight: 400;
	letter-spacing: 0.4px;

}
.chair{
	width: 196px;
	height: 230px;
	display: inline-block;
	margin-left: calc(100%/2 - 65px - 170px);
	-webkit-transition: all 0.5s ease-out;
	
}
.chair:hover{
	-webkit-transform: scale(1.1);
	 

}
.image img {
 -
 }
 
.image img:hover{

 }

.third{
	padding: 0 75px;
	background: #f8fafa;
	padding-bottom: 62px;
}
.works{
	display: inline-block;
	margin-left: 7.5px;
	margin-bottom: 6.5px;
	-webkit-transition: all 0.5s ease-out;
}
.works:hover{
	-webkit-transform: scale(1.1);
}
.pict{
	display: inline-block;
	margin-left: calc(100%/2 - 65px - 235px)
}

.fourth{
	padding: 0 75px;
	background: #f8fafa;
	padding-bottom: 62px;
}
.services{
	margin: 0;
	vertical-align: middle;

}
.service1{
	display: inline-block;
	width: 326px;
	height: 211px;
	margin: 7.5px 4px;
	vertical-align: middle;
	padding-top: 31px;
	padding-left: 33px;
	background: #606060 url('./serv1.png') 100% 100% no-repeat;
	background-size: cover;
	background-blend-mode: soft-light;
	transition-property: background-color color;
	transition: all 0.5s;

}

.service1:hover{
	background-color: #70f5ea;
}
.service1:hover > p{
	color: #000000;
}
.service1:hover > h3{
	color: #000000;
}


.service2{
	display: inline-block;
	width: 237px;
	height: 211px;
	margin: 7.5px 4px;
	vertical-align: middle;
	padding-top: 92px;
	padding-left: 33px;
	background: #606060 url('./serv2.png') 100% 100% no-repeat;
	background-size: cover;
	background-blend-mode: soft-light;
	transition: all 0.5s;

}
.service2:hover{
	background-color: #70f5ea;
}
.service2:hover > p{
	color: #000000;
}
.service2:hover > h3{
	color: #000000;
}
.service3{
	display: inline-block;
	width: 326px;
	height: 185px;
	margin: 7.5px 4px;
	vertical-align: middle;
	padding-top: 82px;
	padding-left: 33px;
	background: #606060 url('./serv3.png') 100% 100% no-repeat;
	background-size: cover;
	background-blend-mode: soft-light;
	transition: all 0.5s;
}
.service3:hover{
	background-color: #70f5ea;
}
.service3:hover > p{
	color: #000000;
}
.service3:hover > h3{
	color: #000000;
}
.service4{
	display: inline-block;
	width: 237px;
	height: 185px;
	margin: 7.5px 4px;
	vertical-align: middle;
	padding-top: 82px;
	padding-left: 33px;
	background: #606060 url('./serv4.png') 100% 100% no-repeat;
	background-size: cover;
	background-blend-mode: soft-light;
	transition: all 0.5s;
}
.service4:hover{
	background-color: #70f5ea;
}
.service4:hover > p{
	color: #000000;
}
.service4:hover > h3{
	color: #000000;
}
.service5{
	display: inline-block;
	width: 236px;
	height: 185px;
	margin: 7.5px 4px;
	vertical-align: middle;
	padding-top: 65px;
	padding-left: 33px;
	background: #606060 url('./serv5.png') 100% 100% no-repeat;
	background-size: cover;
	background-blend-mode: soft-light;
	transition: all 0.5s;
}
.service5:hover{
	background-color: #70f5ea;
}
.service5:hover > p{
	color: #000000;
}
.service5:hover > h3{
	color: #000000;
}
.service6{
	display: inline-block;
	width: 326px;
	height: 185px;
	margin: 7.5px 4px;
	vertical-align: middle;
	padding-top: 65px;
	padding-left: 33px;
	background: #606060 url('./serv6.png') 100% 100% no-repeat;
	background-size: cover;
	background-blend-mode: soft-light;
	transition: all 0.5s;

}
.service6:hover{
	background-color: #70f5ea;
}
.service6:hover > p{
	color: #000000;
}
.service6:hover > h3{
	color: #000000;
}
.serv{
	margin-bottom: 13px;
	margin-top: 0;
	color: #ffffff;
	transition-property: color;
}

.serv_t{
	margin-bottom: 30px;
	margin-top: 0;
	color: #ffffff;
	transition-property: color;
}


.serv_tt{
	margin: 0;
	opacity: 0.8;
	color: #f9fbfb;
	font-family: Raleway;
	font-size: 9px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.35px;
	transition-property: color;
}




.fifth{
	padding: 0 75px;
	background: #eff0f2;
	padding-bottom: 56px;
}
.sixth{
	padding: 0 75px;
	padding-bottom: 56px;
}
.seventh{
	padding: 63px 75px;

}
.services{
	margin-left: calc(100%/2 - 65px - 225px)

}
.fidback{
	width: 333px;
	height: 181px;
	display: inline-block;
}
.customer{
	width: 196px;
	height: 230px;
	display: inline-block;
	margin-left: calc(100%/2 - 65px - 170px)
}


.fidback{
	height: 181px;
	background-color: #eaebed;
	text-align: center;
	padding: 50px 20px 0 20px;
	display: inline-block;
	margin-left: 10px;
	margin-bottom: 26px;
	max-width: 265px;
	vertical-align: middle;

	
}
.customer{
	position: relative;
	padding-top: 10px;
	display: inline-block;
	vertical-align: middle;
}
.team3{
	position: absolute;
	top: 0;
	left: 15px;
	-webkit-transition: all 0.5s ease-out;
}
.team3:hover{
	-webkit-transform: scale(1.05);
}
.button{
	width: 5px;
	height: 5px;
	border-radius: 3px;
	background-color: #eaebed;
	display: inline-block;
	transition-property: background-color;
	-webkit-transition: all 0.5s ease-out;
}
.button:hover{
	background-color: #70f5ea;
	-webkit-transform: scale(1.1);

}
.butt{
	text-align: center;
	margin-top: 10px;
}

/*.team{
	width: calc((100%-30px)/2);
	margin: 0;*/
	
}
.star{
	display: inline-block;
}
.teammember{
	-webkit-transition: all 0.5s ease-out;
}
.speaker:hover .teammember{
	-webkit-transform: scale(1.1);
}


.partners{
	margin-left: calc(100%/2 - 285px)

}


.form{
	width: 312px;
	margin-left: calc((100%/2) - 275px);
	background: black;
	box-shadow: 0 0 30px rgba(21, 21, 21, 0.12);
    background-color: rgb(2, 22, 35);
    opacity: 0.71;
    display: inline-block;
    vertical-align: top;
    padding: 15px;


}
#firstName, #subject, #email, textarea{
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid grey;
	width: 100%;
}
.submit{
	background: #70f5ea;
	border 0;
	color: gray;
	height: 26px;
	width: 122px;

}
textarea{
	color: gray;
}
.map{
	width: 238px;
	display: inline-block;
	box-shadow: 0 0 30px rgba(21, 21, 21, 0.12);
    background-color: rgb(2, 22, 35);
    opacity: 0.71;
    margin-left: 10px;
    padding: 4px 8px;
	
}
.eighth{
	
	background: #eaebed url('./forest.jpg') 100% 100% no-repeat;
	background-size: cover;
	background-blend-mode: soft-light;
	padding: 63px 75px;
	
}

.map > p{
	color: #ffffff;
	font-family: Raleway;
	font-size: 9px;
	text-align: left;
	margin-top: 5px;
	margin-bottom: 0;

}
.nineth{
	padding: 63px 75px;
	background-color: black;
	
}
.footer{
	vertical-align: middle;
	text-align: center;
	color: #ffffff;
	font-family: Raleway;
	font-size: 8px;
	letter-spacing: 1;
}
.pinterest{
 	background: rgb(138 138 138) url('./Pinterest.svg') no-repeat 50% 50% /10px;
 	display: inline-block;
}
.twitt{
	background: rgb(138 138 138) url('./Twitter.svg') no-repeat 50% 50% /10px;
	display: inline-block;

}
.fb{
	background: rgb(138 138 138) url('./Facebook.svg') no-repeat 50% 50% /10px;
	display: inline-block;

}
.dribble{
	background: rgb(138 138 138) url('./Dribble.svg') no-repeat 50% 50% /10px;
	display: inline-block;

}
.links{
	width: 23px;
 	height: 20px;
 	border-radius: 1px;
	vertical-align: middle;
	color: #ffffff;
	filter: invert(100%);
	opacity: 0.4;
	margin: 5px 1px;

}
.links:hover{
	background-color: #70f5ea;
	filter: none;
}
.they{
	background-color: #70f5ea;
	width: 185px;
	padding: 10px;
	vertical-align: middle;
	text-align: center;

}
.triangle{
	width: 0px;
	height: 0px;
	border: 5px solid transparent;
	border-left-color: #70f5ea;
	border-top-color:#70f5ea; 
	transform: rotate(45deg);
	position: relative;
	left: 20px;
	bottom: -5px;
	

}
.says1{
	position: absolute;
	top: 100px;
	display: none;
	

}
.says2{
	position: absolute;
	top: 100px;
	display: none;

}
.says3{
	position: absolute;
	top: 100px;
	display: none;
}
.says4{
	position: absolute;
	top: 100px;
	display: none;
}
.says5{
	position: absolute;
	top: 100px;
	display: none;
}
.says6{
	position: absolute;
	top: 100px;
	display: none;
}
.speaker{
	position: relative;
	display: inline-block;
	margin: 10px 5px;
	
}
.team{
	width: calc((100% - 15px) / 2);
	margin-left: calc((100% - 255px) /3);
}

/*.s1{
	position: relative; 
}*/


.speaker:hover .says1{
	display: block;

}
.speaker:hover .says2{
	display: block;

}
.speaker:hover .says3{
	display: block;

}
.speaker:hover .says4{
	display: block;

}
.speaker:hover .says5{
	display: block;

}
.speaker:hover .says6{
	display: block;
}